Installer/Output/RestApiDesignerStudio_Setup_v1.0.0.exe
bin/Release/net10.0-windows/API_Integarated.deps.json
bin/Release/net10.0-windows/API_Integarated.dll
bin/Release/net10.0-windows/API_Integarated.pdb
Installer/Publish/Accessibility.dll
Installer/Publish/API_Integarated.Demo.deps.json
Installer/Publish/API_Integarated.Demo.dll
Installer/Publish/API_Integarated.Demo.exe
Installer/Publish/API_Integarated.Demo.pdb
Installer/Publish/API_Integarated.Demo.runtimeconfig.json
Installer/Publish/API_Integarated.dll
Installer/Publish/API_Integarated.pdb
Installer/Publish/clretwrc.dll
Installer/Publish/clrgc.dll
Installer/Publish/clrgcexp.dll
Installer/Publish/clrjit.dll
Installer/Publish/CommunityToolkit.Mvvm.dll
Installer/Publish/coreclr.dll
Installer/Publish/createdump.exe
Installer/Publish/D3DCompiler_47_cor3.dll
Installer/Publish/DirectWriteForwarder.dll
Installer/Publish/hostfxr.dll
Installer/Publish/hostpolicy.dll
Installer/Publish/ICSharpCode.AvalonEdit.dll
Installer/Publish/Microsoft.CSharp.dll
Installer/Publish/Microsoft.DiaSymReader.Native.amd64.dll
Installer/Publish/Microsoft.VisualBasic.Core.dll
Installer/Publish/Microsoft.VisualBasic.dll
Installer/Publish/Microsoft.VisualBasic.Forms.dll
Installer/Publish/Microsoft.Win32.Primitives.dll
Installer/Publish/Microsoft.Win32.Registry.AccessControl.dll
Installer/Publish/Microsoft.Win32.Registry.dll
Installer/Publish/Microsoft.Win32.SystemEvents.dll
Installer/Publish/mscordaccore.dll
Installer/Publish/mscordaccore_amd64_amd64_10.0.1226.42308.dll
Installer/Publish/mscordbi.dll
Installer/Publish/mscorlib.dll
Installer/Publish/mscorrc.dll
Installer/Publish/msquic.dll
Installer/Publish/netstandard.dll
Installer/Publish/PenImc_cor3.dll
Installer/Publish/PresentationCore.dll
Installer/Publish/PresentationFramework.Aero.dll
Installer/Publish/PresentationFramework.Aero2.dll
Installer/Publish/PresentationFramework.AeroLite.dll
Installer/Publish/PresentationFramework.Classic.dll
Installer/Publish/PresentationFramework.dll
Installer/Publish/PresentationFramework.Fluent.dll
Installer/Publish/PresentationFramework.Luna.dll
Installer/Publish/PresentationFramework.Royale.dll
Installer/Publish/PresentationFramework-SystemCore.dll
Installer/Publish/PresentationFramework-SystemData.dll
Installer/Publish/PresentationFramework-SystemDrawing.dll
Installer/Publish/PresentationFramework-SystemXml.dll
Installer/Publish/PresentationFramework-SystemXmlLinq.dll
Installer/Publish/PresentationNative_cor3.dll
Installer/Publish/PresentationUI.dll
Installer/Publish/ReachFramework.dll
Installer/Publish/System.AppContext.dll
Installer/Publish/System.Buffers.dll
Installer/Publish/System.CodeDom.dll
Installer/Publish/System.Collections.Concurrent.dll
Installer/Publish/System.Collections.dll
Installer/Publish/System.Collections.Immutable.dll
Installer/Publish/System.Collections.NonGeneric.dll
Installer/Publish/System.Collections.Specialized.dll
Installer/Publish/System.ComponentModel.Annotations.dll
Installer/Publish/System.ComponentModel.DataAnnotations.dll
Installer/Publish/System.ComponentModel.dll
Installer/Publish/System.ComponentModel.EventBasedAsync.dll
Installer/Publish/System.ComponentModel.Primitives.dll
Installer/Publish/System.ComponentModel.TypeConverter.dll
Installer/Publish/System.Configuration.ConfigurationManager.dll
Installer/Publish/System.Configuration.dll
Installer/Publish/System.Console.dll
Installer/Publish/System.Core.dll
Installer/Publish/System.Data.Common.dll
Installer/Publish/System.Data.DataSetExtensions.dll
Installer/Publish/System.Data.dll
Installer/Publish/System.Design.dll
Installer/Publish/System.Diagnostics.Contracts.dll
Installer/Publish/System.Diagnostics.Debug.dll
Installer/Publish/System.Diagnostics.DiagnosticSource.dll
Installer/Publish/System.Diagnostics.EventLog.dll
Installer/Publish/System.Diagnostics.EventLog.Messages.dll
Installer/Publish/System.Diagnostics.FileVersionInfo.dll
Installer/Publish/System.Diagnostics.PerformanceCounter.dll
Installer/Publish/System.Diagnostics.Process.dll
Installer/Publish/System.Diagnostics.StackTrace.dll
Installer/Publish/System.Diagnostics.TextWriterTraceListener.dll
Installer/Publish/System.Diagnostics.Tools.dll
Installer/Publish/System.Diagnostics.TraceSource.dll
Installer/Publish/System.Diagnostics.Tracing.dll
Installer/Publish/System.DirectoryServices.dll
Installer/Publish/System.dll
Installer/Publish/System.Drawing.Common.dll
Installer/Publish/System.Drawing.Design.dll
Installer/Publish/System.Drawing.dll
Installer/Publish/System.Drawing.Primitives.dll
Installer/Publish/System.Dynamic.Runtime.dll
Installer/Publish/System.Formats.Asn1.dll
Installer/Publish/System.Formats.Nrbf.dll
Installer/Publish/System.Formats.Tar.dll
Installer/Publish/System.Globalization.Calendars.dll
Installer/Publish/System.Globalization.dll
Installer/Publish/System.Globalization.Extensions.dll
Installer/Publish/System.IO.Compression.Brotli.dll
Installer/Publish/System.IO.Compression.dll
Installer/Publish/System.IO.Compression.FileSystem.dll
Installer/Publish/System.IO.Compression.Native.dll
Installer/Publish/System.IO.Compression.ZipFile.dll
Installer/Publish/System.IO.dll
Installer/Publish/System.IO.FileSystem.AccessControl.dll
Installer/Publish/System.IO.FileSystem.dll
Installer/Publish/System.IO.FileSystem.DriveInfo.dll
Installer/Publish/System.IO.FileSystem.Primitives.dll
Installer/Publish/System.IO.FileSystem.Watcher.dll
Installer/Publish/System.IO.IsolatedStorage.dll
Installer/Publish/System.IO.MemoryMappedFiles.dll
Installer/Publish/System.IO.Packaging.dll
Installer/Publish/System.IO.Pipelines.dll
Installer/Publish/System.IO.Pipes.AccessControl.dll
Installer/Publish/System.IO.Pipes.dll
Installer/Publish/System.IO.UnmanagedMemoryStream.dll
Installer/Publish/System.Linq.AsyncEnumerable.dll
Installer/Publish/System.Linq.dll
Installer/Publish/System.Linq.Expressions.dll
Installer/Publish/System.Linq.Parallel.dll
Installer/Publish/System.Linq.Queryable.dll
Installer/Publish/System.Memory.dll
Installer/Publish/System.Net.dll
Installer/Publish/System.Net.Http.dll
Installer/Publish/System.Net.Http.Json.dll
Installer/Publish/System.Net.HttpListener.dll
Installer/Publish/System.Net.Mail.dll
Installer/Publish/System.Net.NameResolution.dll
Installer/Publish/System.Net.NetworkInformation.dll
Installer/Publish/System.Net.Ping.dll
Installer/Publish/System.Net.Primitives.dll
Installer/Publish/System.Net.Quic.dll
Installer/Publish/System.Net.Requests.dll
Installer/Publish/System.Net.Security.dll
Installer/Publish/System.Net.ServerSentEvents.dll
Installer/Publish/System.Net.ServicePoint.dll
Installer/Publish/System.Net.Sockets.dll
Installer/Publish/System.Net.WebClient.dll
Installer/Publish/System.Net.WebHeaderCollection.dll
Installer/Publish/System.Net.WebProxy.dll
Installer/Publish/System.Net.WebSockets.Client.dll
Installer/Publish/System.Net.WebSockets.dll
Installer/Publish/System.Numerics.dll
Installer/Publish/System.Numerics.Vectors.dll
Installer/Publish/System.ObjectModel.dll
Installer/Publish/System.Printing.dll
Installer/Publish/System.Private.CoreLib.dll
Installer/Publish/System.Private.DataContractSerialization.dll
Installer/Publish/System.Private.Uri.dll
Installer/Publish/System.Private.Windows.Core.dll
Installer/Publish/System.Private.Windows.GdiPlus.dll
Installer/Publish/System.Private.Xml.dll
Installer/Publish/System.Private.Xml.Linq.dll
Installer/Publish/System.Reflection.DispatchProxy.dll
Installer/Publish/System.Reflection.dll
Installer/Publish/System.Reflection.Emit.dll
Installer/Publish/System.Reflection.Emit.ILGeneration.dll
Installer/Publish/System.Reflection.Emit.Lightweight.dll
Installer/Publish/System.Reflection.Extensions.dll
Installer/Publish/System.Reflection.Metadata.dll
Installer/Publish/System.Reflection.Primitives.dll
Installer/Publish/System.Reflection.TypeExtensions.dll
Installer/Publish/System.Resources.Extensions.dll
Installer/Publish/System.Resources.Reader.dll
Installer/Publish/System.Resources.ResourceManager.dll
Installer/Publish/System.Resources.Writer.dll
Installer/Publish/System.Runtime.CompilerServices.Unsafe.dll
Installer/Publish/System.Runtime.CompilerServices.VisualC.dll
Installer/Publish/System.Runtime.dll
Installer/Publish/System.Runtime.Extensions.dll
Installer/Publish/System.Runtime.Handles.dll
Installer/Publish/System.Runtime.InteropServices.dll
Installer/Publish/System.Runtime.InteropServices.JavaScript.dll
Installer/Publish/System.Runtime.InteropServices.RuntimeInformation.dll
Installer/Publish/System.Runtime.Intrinsics.dll
Installer/Publish/System.Runtime.Loader.dll
Installer/Publish/System.Runtime.Numerics.dll
Installer/Publish/System.Runtime.Serialization.dll
Installer/Publish/System.Runtime.Serialization.Formatters.dll
Installer/Publish/System.Runtime.Serialization.Json.dll
Installer/Publish/System.Runtime.Serialization.Primitives.dll
Installer/Publish/System.Runtime.Serialization.Xml.dll
Installer/Publish/System.Security.AccessControl.dll
Installer/Publish/System.Security.Claims.dll
Installer/Publish/System.Security.Cryptography.Algorithms.dll
Installer/Publish/System.Security.Cryptography.Cng.dll
Installer/Publish/System.Security.Cryptography.Csp.dll
Installer/Publish/System.Security.Cryptography.dll
Installer/Publish/System.Security.Cryptography.Encoding.dll
Installer/Publish/System.Security.Cryptography.OpenSsl.dll
Installer/Publish/System.Security.Cryptography.Pkcs.dll
Installer/Publish/System.Security.Cryptography.Primitives.dll
Installer/Publish/System.Security.Cryptography.ProtectedData.dll
Installer/Publish/System.Security.Cryptography.X509Certificates.dll
Installer/Publish/System.Security.Cryptography.Xml.dll
Installer/Publish/System.Security.dll
Installer/Publish/System.Security.Permissions.dll
Installer/Publish/System.Security.Principal.dll
Installer/Publish/System.Security.Principal.Windows.dll
Installer/Publish/System.Security.SecureString.dll
Installer/Publish/System.ServiceModel.Web.dll
Installer/Publish/System.ServiceProcess.dll
Installer/Publish/System.Text.Encoding.CodePages.dll
Installer/Publish/System.Text.Encoding.dll
Installer/Publish/System.Text.Encoding.Extensions.dll
Installer/Publish/System.Text.Encodings.Web.dll
Installer/Publish/System.Text.Json.dll
Installer/Publish/System.Text.RegularExpressions.dll
Installer/Publish/System.Threading.AccessControl.dll
Installer/Publish/System.Threading.Channels.dll
Installer/Publish/System.Threading.dll
Installer/Publish/System.Threading.Overlapped.dll
Installer/Publish/System.Threading.Tasks.Dataflow.dll
Installer/Publish/System.Threading.Tasks.dll
Installer/Publish/System.Threading.Tasks.Extensions.dll
Installer/Publish/System.Threading.Tasks.Parallel.dll
Installer/Publish/System.Threading.Thread.dll
Installer/Publish/System.Threading.ThreadPool.dll
Installer/Publish/System.Threading.Timer.dll
Installer/Publish/System.Transactions.dll
Installer/Publish/System.Transactions.Local.dll
Installer/Publish/System.ValueTuple.dll
Installer/Publish/System.Web.dll
Installer/Publish/System.Web.HttpUtility.dll
Installer/Publish/System.Windows.Controls.Ribbon.dll
Installer/Publish/System.Windows.dll
Installer/Publish/System.Windows.Extensions.dll
Installer/Publish/System.Windows.Forms.Design.dll
Installer/Publish/System.Windows.Forms.Design.Editors.dll
Installer/Publish/System.Windows.Forms.dll
Installer/Publish/System.Windows.Forms.Primitives.dll
Installer/Publish/System.Windows.Input.Manipulations.dll
Installer/Publish/System.Windows.Presentation.dll
Installer/Publish/System.Windows.Primitives.dll
Installer/Publish/System.Xaml.dll
Installer/Publish/System.Xml.dll
Installer/Publish/System.Xml.Linq.dll
Installer/Publish/System.Xml.ReaderWriter.dll
Installer/Publish/System.Xml.Serialization.dll
Installer/Publish/System.Xml.XDocument.dll
Installer/Publish/System.Xml.XmlDocument.dll
Installer/Publish/System.Xml.XmlSerializer.dll
Installer/Publish/System.Xml.XPath.dll
Installer/Publish/System.Xml.XPath.XDocument.dll
Installer/Publish/UIAutomationClient.dll
Installer/Publish/UIAutomationClientSideProviders.dll
Installer/Publish/UIAutomationProvider.dll
Installer/Publish/UIAutomationTypes.dll
Installer/Publish/vcruntime140_cor3.dll
Installer/Publish/WindowsBase.dll
Installer/Publish/WindowsFormsIntegration.dll
Installer/Publish/wpfgfx_cor3.dll
Installer/Publish/cs/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/cs/PresentationCore.resources.dll
Installer/Publish/cs/PresentationFramework.resources.dll
Installer/Publish/cs/PresentationUI.resources.dll
Installer/Publish/cs/ReachFramework.resources.dll
Installer/Publish/cs/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/cs/System.Windows.Forms.Design.resources.dll
Installer/Publish/cs/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/cs/System.Windows.Forms.resources.dll
Installer/Publish/cs/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/cs/System.Xaml.resources.dll
Installer/Publish/cs/UIAutomationClient.resources.dll
Installer/Publish/cs/UIAutomationClientSideProviders.resources.dll
Installer/Publish/cs/UIAutomationProvider.resources.dll
Installer/Publish/cs/UIAutomationTypes.resources.dll
Installer/Publish/cs/WindowsBase.resources.dll
Installer/Publish/cs/WindowsFormsIntegration.resources.dll
Installer/Publish/de/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/de/PresentationCore.resources.dll
Installer/Publish/de/PresentationFramework.resources.dll
Installer/Publish/de/PresentationUI.resources.dll
Installer/Publish/de/ReachFramework.resources.dll
Installer/Publish/de/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/de/System.Windows.Forms.Design.resources.dll
Installer/Publish/de/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/de/System.Windows.Forms.resources.dll
Installer/Publish/de/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/de/System.Xaml.resources.dll
Installer/Publish/de/UIAutomationClient.resources.dll
Installer/Publish/de/UIAutomationClientSideProviders.resources.dll
Installer/Publish/de/UIAutomationProvider.resources.dll
Installer/Publish/de/UIAutomationTypes.resources.dll
Installer/Publish/de/WindowsBase.resources.dll
Installer/Publish/de/WindowsFormsIntegration.resources.dll
Installer/Publish/es/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/es/PresentationCore.resources.dll
Installer/Publish/es/PresentationFramework.resources.dll
Installer/Publish/es/PresentationUI.resources.dll
Installer/Publish/es/ReachFramework.resources.dll
Installer/Publish/es/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/es/System.Windows.Forms.Design.resources.dll
Installer/Publish/es/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/es/System.Windows.Forms.resources.dll
Installer/Publish/es/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/es/System.Xaml.resources.dll
Installer/Publish/es/UIAutomationClient.resources.dll
Installer/Publish/es/UIAutomationClientSideProviders.resources.dll
Installer/Publish/es/UIAutomationProvider.resources.dll
Installer/Publish/es/UIAutomationTypes.resources.dll
Installer/Publish/es/WindowsBase.resources.dll
Installer/Publish/es/WindowsFormsIntegration.resources.dll
Installer/Publish/fr/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/fr/PresentationCore.resources.dll
Installer/Publish/fr/PresentationFramework.resources.dll
Installer/Publish/fr/PresentationUI.resources.dll
Installer/Publish/fr/ReachFramework.resources.dll
Installer/Publish/fr/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/fr/System.Windows.Forms.Design.resources.dll
Installer/Publish/fr/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/fr/System.Windows.Forms.resources.dll
Installer/Publish/fr/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/fr/System.Xaml.resources.dll
Installer/Publish/fr/UIAutomationClient.resources.dll
Installer/Publish/fr/UIAutomationClientSideProviders.resources.dll
Installer/Publish/fr/UIAutomationProvider.resources.dll
Installer/Publish/fr/UIAutomationTypes.resources.dll
Installer/Publish/fr/WindowsBase.resources.dll
Installer/Publish/fr/WindowsFormsIntegration.resources.dll
Installer/Publish/it/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/it/PresentationCore.resources.dll
Installer/Publish/it/PresentationFramework.resources.dll
Installer/Publish/it/PresentationUI.resources.dll
Installer/Publish/it/ReachFramework.resources.dll
Installer/Publish/it/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/it/System.Windows.Forms.Design.resources.dll
Installer/Publish/it/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/it/System.Windows.Forms.resources.dll
Installer/Publish/it/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/it/System.Xaml.resources.dll
Installer/Publish/it/UIAutomationClient.resources.dll
Installer/Publish/it/UIAutomationClientSideProviders.resources.dll
Installer/Publish/it/UIAutomationProvider.resources.dll
Installer/Publish/it/UIAutomationTypes.resources.dll
Installer/Publish/it/WindowsBase.resources.dll
Installer/Publish/it/WindowsFormsIntegration.resources.dll
Installer/Publish/ja/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/ja/PresentationCore.resources.dll
Installer/Publish/ja/PresentationFramework.resources.dll
Installer/Publish/ja/PresentationUI.resources.dll
Installer/Publish/ja/ReachFramework.resources.dll
Installer/Publish/ja/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/ja/System.Windows.Forms.Design.resources.dll
Installer/Publish/ja/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/ja/System.Windows.Forms.resources.dll
Installer/Publish/ja/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/ja/System.Xaml.resources.dll
Installer/Publish/ja/UIAutomationClient.resources.dll
Installer/Publish/ja/UIAutomationClientSideProviders.resources.dll
Installer/Publish/ja/UIAutomationProvider.resources.dll
Installer/Publish/ja/UIAutomationTypes.resources.dll
Installer/Publish/ja/WindowsBase.resources.dll
Installer/Publish/ja/WindowsFormsIntegration.resources.dll
Installer/Publish/ko/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/ko/PresentationCore.resources.dll
Installer/Publish/ko/PresentationFramework.resources.dll
Installer/Publish/ko/PresentationUI.resources.dll
Installer/Publish/ko/ReachFramework.resources.dll
Installer/Publish/ko/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/ko/System.Windows.Forms.Design.resources.dll
Installer/Publish/ko/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/ko/System.Windows.Forms.resources.dll
Installer/Publish/ko/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/ko/System.Xaml.resources.dll
Installer/Publish/ko/UIAutomationClient.resources.dll
Installer/Publish/ko/UIAutomationClientSideProviders.resources.dll
Installer/Publish/ko/UIAutomationProvider.resources.dll
Installer/Publish/ko/UIAutomationTypes.resources.dll
Installer/Publish/ko/WindowsBase.resources.dll
Installer/Publish/ko/WindowsFormsIntegration.resources.dll
Installer/Publish/pl/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/pl/PresentationCore.resources.dll
Installer/Publish/pl/PresentationFramework.resources.dll
Installer/Publish/pl/PresentationUI.resources.dll
Installer/Publish/pl/ReachFramework.resources.dll
Installer/Publish/pl/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/pl/System.Windows.Forms.Design.resources.dll
Installer/Publish/pl/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/pl/System.Windows.Forms.resources.dll
Installer/Publish/pl/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/pl/System.Xaml.resources.dll
Installer/Publish/pl/UIAutomationClient.resources.dll
Installer/Publish/pl/UIAutomationClientSideProviders.resources.dll
Installer/Publish/pl/UIAutomationProvider.resources.dll
Installer/Publish/pl/UIAutomationTypes.resources.dll
Installer/Publish/pl/WindowsBase.resources.dll
Installer/Publish/pl/WindowsFormsIntegration.resources.dll
Installer/Publish/pt-BR/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/pt-BR/PresentationCore.resources.dll
Installer/Publish/pt-BR/PresentationFramework.resources.dll
Installer/Publish/pt-BR/PresentationUI.resources.dll
Installer/Publish/pt-BR/ReachFramework.resources.dll
Installer/Publish/pt-BR/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/pt-BR/System.Windows.Forms.Design.resources.dll
Installer/Publish/pt-BR/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/pt-BR/System.Windows.Forms.resources.dll
Installer/Publish/pt-BR/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/pt-BR/System.Xaml.resources.dll
Installer/Publish/pt-BR/UIAutomationClient.resources.dll
Installer/Publish/pt-BR/UIAutomationClientSideProviders.resources.dll
Installer/Publish/pt-BR/UIAutomationProvider.resources.dll
Installer/Publish/pt-BR/UIAutomationTypes.resources.dll
Installer/Publish/pt-BR/WindowsBase.resources.dll
Installer/Publish/pt-BR/WindowsFormsIntegration.resources.dll
Installer/Publish/ru/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/ru/PresentationCore.resources.dll
Installer/Publish/ru/PresentationFramework.resources.dll
Installer/Publish/ru/PresentationUI.resources.dll
Installer/Publish/ru/ReachFramework.resources.dll
Installer/Publish/ru/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/ru/System.Windows.Forms.Design.resources.dll
Installer/Publish/ru/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/ru/System.Windows.Forms.resources.dll
Installer/Publish/ru/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/ru/System.Xaml.resources.dll
Installer/Publish/ru/UIAutomationClient.resources.dll
Installer/Publish/ru/UIAutomationClientSideProviders.resources.dll
Installer/Publish/ru/UIAutomationProvider.resources.dll
Installer/Publish/ru/UIAutomationTypes.resources.dll
Installer/Publish/ru/WindowsBase.resources.dll
Installer/Publish/ru/WindowsFormsIntegration.resources.dll
Installer/Publish/tr/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/tr/PresentationCore.resources.dll
Installer/Publish/tr/PresentationFramework.resources.dll
Installer/Publish/tr/PresentationUI.resources.dll
Installer/Publish/tr/ReachFramework.resources.dll
Installer/Publish/tr/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/tr/System.Windows.Forms.Design.resources.dll
Installer/Publish/tr/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/tr/System.Windows.Forms.resources.dll
Installer/Publish/tr/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/tr/System.Xaml.resources.dll
Installer/Publish/tr/UIAutomationClient.resources.dll
Installer/Publish/tr/UIAutomationClientSideProviders.resources.dll
Installer/Publish/tr/UIAutomationProvider.resources.dll
Installer/Publish/tr/UIAutomationTypes.resources.dll
Installer/Publish/tr/WindowsBase.resources.dll
Installer/Publish/tr/WindowsFormsIntegration.resources.dll
Installer/Publish/zh-Hans/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/zh-Hans/PresentationCore.resources.dll
Installer/Publish/zh-Hans/PresentationFramework.resources.dll
Installer/Publish/zh-Hans/PresentationUI.resources.dll
Installer/Publish/zh-Hans/ReachFramework.resources.dll
Installer/Publish/zh-Hans/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/zh-Hans/System.Windows.Forms.Design.resources.dll
Installer/Publish/zh-Hans/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/zh-Hans/System.Windows.Forms.resources.dll
Installer/Publish/zh-Hans/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/zh-Hans/System.Xaml.resources.dll
Installer/Publish/zh-Hans/UIAutomationClient.resources.dll
Installer/Publish/zh-Hans/UIAutomationClientSideProviders.resources.dll
Installer/Publish/zh-Hans/UIAutomationProvider.resources.dll
Installer/Publish/zh-Hans/UIAutomationTypes.resources.dll
Installer/Publish/zh-Hans/WindowsBase.resources.dll
Installer/Publish/zh-Hans/WindowsFormsIntegration.resources.dll
Installer/Publish/zh-Hant/Microsoft.VisualBasic.Forms.resources.dll
Installer/Publish/zh-Hant/PresentationCore.resources.dll
Installer/Publish/zh-Hant/PresentationFramework.resources.dll
Installer/Publish/zh-Hant/PresentationUI.resources.dll
Installer/Publish/zh-Hant/ReachFramework.resources.dll
Installer/Publish/zh-Hant/System.Windows.Controls.Ribbon.resources.dll
Installer/Publish/zh-Hant/System.Windows.Forms.Design.resources.dll
Installer/Publish/zh-Hant/System.Windows.Forms.Primitives.resources.dll
Installer/Publish/zh-Hant/System.Windows.Forms.resources.dll
Installer/Publish/zh-Hant/System.Windows.Input.Manipulations.resources.dll
Installer/Publish/zh-Hant/System.Xaml.resources.dll
Installer/Publish/zh-Hant/UIAutomationClient.resources.dll
Installer/Publish/zh-Hant/UIAutomationClientSideProviders.resources.dll
Installer/Publish/zh-Hant/UIAutomationProvider.resources.dll
Installer/Publish/zh-Hant/UIAutomationTypes.resources.dll
Installer/Publish/zh-Hant/WindowsBase.resources.dll
Installer/Publish/zh-Hant/WindowsFormsIntegration.resources.dll
